@use "../../Styles/Variables.scss" as *;

.custom-button {
  
  padding: 0.8rem 2rem;
  border-radius: 50px;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease;
  
  border: 3px solid $accent-primary; // Verde
  color: $accent-primary;

  &:hover {
    background-color: $accent-primary;
    color: $font-color-secondary;
  }

  &.secondary {
    border-color: $accent-secondary; // Naranja
    color: $accent-secondary;

    &:hover {
      background-color: $accent-secondary;
      color: $font-color-secondary;
    }
  }
}